.detailSupportInfo{
    display : flex;
    flex-wrap : wrap;
    justify-content: space-between;

    width : 100%;
    height : 600px;
    
    background-color : white;
    border : 1px;
    border-radius : 12px;
}

.detailSupportImg{

}

.detailSupportFunc{

}

.detailSupportSkill{

}

.detailSupportEvent{
    
}