.searchTable{
    width : 60%;
    height : 20%;
    text-align: center;
}

.searchTable > tbody > tr > td:first-child{
    background-color: antiquewhite;

}

.searchTable > tbody > tr > td:last-child{
    background-color: white;
}

.input_hidden{
    display:none;   
}

.inputImg{
    width : 35px;
    height : 35px;
}