.header {
    width : 100%;
    height : 20%;
    flex-grow: 0;
    margin: 0px;
    padding : 10px 20px;
    background-color: #d1e970;
}

.header > div > h1{
    width: 300px;
    height: 29px;
    margin: 6px 561px 3px 0;
    font-size: 24px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}