@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.navButton {
    width: 25%;
    height: 60px;
    flex-grow: 0;
    margin: 1px 0 0;
    padding: 15px 10px 16px 32px;
    border: solid 2px #467a39;
    border-radius : 10px 10px 0px 0px;
    background-color: #e9f6b3;    


    flex-grow: 0;
    font-family: 'BMJUA';
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}