.planTable{
    border-collapse: separate;
    border-spacing : 10px 3px;
    text-align: center;
    background-color: #d1e970;
    padding : 20px;
}

.planTable tbody > tr > td{
    padding : 0px;
}


.pContents > td {
    width : 70px;
    height : 50px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.pContents > td:hover{
    filter:brightness(150%);
}

.pContents > td > img {
    width : 20px;
    height : 20px;
}

.pNames > td{
}




.raceList{
    margin-bottom : 20px;
}


.littleList{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width : 70%;
    height : 80px;
    padding : 10px 29px;
    background-color: #ececec;
    border-radius: 10px;
}

.currentRace {
    margin-bottom : 20px;
}

.boldLine {
    margin-bottom : 20px;
    margin-top : 10px;
    border : solid 1px gray;

}