.contents {
    flex-wrap : wrap;
    width : 100%;
    height : 870px;
    padding : 10px 20px;
    background-color: #d9d9d9;
}


.raceList{
    display : flex;
    flex-wrap: wrap;
    width : 50%;
    height : 60px;
    padding : 10px 29px;
    background-color: #ececec;
    border-radius: 10px;
}